<configuration scan="false" debug="false">
<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
	<encoder>
		<pattern>%d{HH:mm:ss.SSS} [%thread] %boldBlue(%.-1level) %logger{36} - %msg%n</pattern>
	</encoder>
</appender>

<appender name="FILE1" class="ch.qos.logback.core.FileAppender">
	<file>messages.log</file>
	<append>false</append>
	<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
		<level>WARN</level>
	</filter>
	<encoder>
		<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
	</encoder>
</appender>

<appender name="FILE2" class="ch.qos.logback.core.FileAppender">
	<file>infos.log</file>
	<append>false</append>
	<filter class="ch.qos.logback.classic.filter.LevelFilter">
		<level>INFO</level>
		<onMatch>ACCEPT</onMatch>
		<onMismatch>DENY</onMismatch>
	</filter>
	<encoder>
		<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
	</encoder>
</appender>
<root level="ALL">
	<appender-ref ref="STDOUT"/>
	<appender-ref ref="FILE1"/>
	<appender-ref ref="FILE2"/>
</root>
</configuration>